/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/AbstractIntlChessPiece.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/movespecific/AbstractIntlPieceMove.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/AbstractPiece.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/enums/BaseEnum.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/Behavior.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/Bishop.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/Board.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/movespecific/Capture.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/movespecific/Castling.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/enums/DirectionEnum.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/utils/DirectionUtil.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/movespecific/EnPassant.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/enums/international/IntlBehaviorEnum.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/international/IntlChessBoard.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/utils/IntlChessUtil.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/enums/international/IntlPieceEnum.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/enums/international/IntlRoleEnum.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/King.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/Knight.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/Pawn.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/Piece.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/PieceMove.class
/FSGame-Chess/chess-core/pom.xml
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/movespecific/Promotion.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/Queen.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chesspiece/international/Rook.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/WalkingRecords$Record.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/WalkingRecords$RecordImpl.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/WalkingRecords.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/WalkingRecordsImpl$Builder.class
/FSGame-Chess/chess-core/target/classes/com/fsgame/chesscore/chessboard/WalkingRecordsImpl.class
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/international/ActionListenerObserver.class
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/black/Bishop.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/white/Bishop.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/black/Bishop.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/white/Bishop.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/black/Bishop.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/white/Bishop.png
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/international/BoardGraphics$1.class
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/international/BoardGraphics.class
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/international/BoardUI.class
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/ChessDesktopApplication.class
/FSGame-Chess/chess-desktop/src/main/java/com/fsgame/chessdesktop/ChessDesktopApplication.java
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/international/HomeUI.class
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/black/King.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/white/King.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/black/King.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/white/King.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/black/King.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/white/King.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/black/Knight.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/white/Knight.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/black/Knight.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/white/Knight.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/black/Knight.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/white/Knight.png
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/international/LeftPanel.class
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/utils/PanelStyleUtil.class
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/black/Pawn.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/white/Pawn.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/black/Pawn.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/white/Pawn.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/black/Pawn.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/white/Pawn.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/black/Queen.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/white/Queen.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/black/Queen.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/white/Queen.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/black/Queen.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/white/Queen.png
/FSGame-Chess/chess-desktop/target/classes/com/fsgame/chessdesktop/international/RightPanel.class
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/black/Rook.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_01/white/Rook.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/black/Rook.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_02/white/Rook.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/black/Rook.png
/FSGame-Chess/chess-desktop/target/classes/international/images/chess_03/white/Rook.png
/FSGame-Chess/chess-webonline/target/classes/application.properties
/FSGame-Chess/chess-webonline/target/classes/application.yml
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/black/Bishop.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/white/Bishop.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/black/Bishop.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/white/Bishop.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/black/Bishop.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/white/Bishop.png
/FSGame-Chess/chess-webonline/target/classes/com/fsgame/chesswebonline/socket/ChessMessage.class
/FSGame-Chess/chess-webonline/target/classes/com/fsgame/chesswebonline/ChessWebOnlineApplication.class
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/black/King.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/white/King.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/black/King.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/white/King.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/black/King.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/white/King.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/black/Knight.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/white/Knight.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/black/Knight.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/white/Knight.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/black/Knight.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/white/Knight.png
/FSGame-Chess/chess-webonline/target/classes/com/fsgame/chesswebonline/socket/Message.class
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/black/Pawn.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/white/Pawn.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/black/Pawn.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/white/Pawn.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/black/Pawn.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/white/Pawn.png
/FSGame-Chess/chess-webonline/pom.xml
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/black/Queen.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/white/Queen.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/black/Queen.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/white/Queen.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/black/Queen.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/white/Queen.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/black/Rook.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_01/white/Rook.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/black/Rook.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_02/white/Rook.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/black/Rook.png
/FSGame-Chess/chess-webonline/target/classes/international/static/images/chess_03/white/Rook.png
/FSGame-Chess/chess-webonline/target/classes/international/templates/SocketTest.html
/FSGame-Chess/chess-webonline/target/classes/com/fsgame/chesswebonline/controller/SocketTestController.class
/FSGame-Chess/chess-webonline/target/classes/international/static/js/WebSocketClient.js
/FSGame-Chess/chess-webonline/target/classes/com/fsgame/chesswebonline/config/WebSocketConfig.class
/FSGame-Chess/chess-webonline/target/classes/com/fsgame/chesswebonline/socket/WebSocketServer.class
/.idea/
